$color-primary: #4279ff;
$color-danger: #ff4242;
$color-black: #232323;
$color-white: #fff;
$color-grey-light: #dadada;
$color-grey-dark: #2f3129;
$color-header-light: #e8e8e8;
$color-header-dark: #2f3129;
$color-title-light: #353535;
$color-title-dark: #f1f1f1;
$color-icon: #858585;
$color-selection: rgba($color-primary, 0.15);
$color-selection-removed: rgba($color-danger, 0.15);
$font-size: 16px;
